$color-green: #067648;
$color-light-green: #21A373;
$color-dark-blue: #262E35;

.single-working-prcess-one::after, .single-working-prcess-one::before, .separetor-process-top::after {
    display: none;
}

.loader::after {
    border-top-color: $color-green;
}

#contactBtn {
    background-color: $color-dark-blue;
    transition: .3s;

    &:hover {
        background-color: $color-light-green;
    }
}

.single-service-style-five a h6:hover, .portfolio-grid-col-2-single a h5:hover {
    color: $color-green !important;
}

#qualities {
    --bs-gutter-y: 0;
}

.contact-form-conatct-page {
    input, textarea {
        &:focus {
            border-bottom-color: $color-green;
        }
    }

    button:hover {
        border-color: $color-light-green;
    }
}

iframe {
    height: 25rem;
}

.social-style-two-wrapper li a {
    margin: 0 1rem;

    &:hover {
        border-color: #FFF;
    }
}

.breadcrumb-top {
    a {
        color: $color-green !important;
        margin: 0 .5rem;

        &:hover {
            color: $color-light-green !important;
        }
    }

    span {
        margin: 0 .5rem;
    }
}

.single-working-prcess-one {
    &:hover .inner p {
        color: rgb(255, 255, 255);
    }

    .inner p {
        transition: .3s;
    }
}

.single-service-style-five h6 {
    font-size: 19px !important;
}

.rts-footer-area {
    background-color: rgba(6, 140, 72, 1) !important;

    a, h6, p {
        color: #FFF !important;
    }

    .logo {
        width: 40% !important;
    }
}

header {
    background-color: rgba(6, 140, 72, 1);

    a {
        color: #FFF !important;
    }

    .logo-area {
        width: 7% !important;
    }
}

.sticky-150 a {
    color: $color-light-green !important;
}

#contact a:hover {
    color: $color-light-green;
}

#side-bar i {
    background-color: $color-green;
}

.mobile-menu-main a {
    color: $color-light-green !important;
}

@media screen and (max-width: 766px) {
    header .logo-area {
        width: 10% !important;
    }

    .rts-footer-area {
        .footer-two-main-wrapper-right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .social-style-two-wrapper {
            justify-content: center;
        }

        .logo {
            width: 20% !important;
        }

        .copy-right-area-inner-two .disc {
            justify-content: center;
        }
    }
}
